name: Docker Image CI

on:
    release:
      types: [ created ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      repo_name: 'dysta/playitgg'

    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: '${{ env.repo_name }}:${{ github.ref_name }}'
          
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.repo_name }}
          short-description: Docker image to simply run the latest version of playit.gg tunnel service 
          readme-filepath: ./README.md
